* {
    padding: 0px;
    margin: 0px;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 25, 28);
    height: 2000px;
}

.man {
    width: 100%;
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin-left: 0px;
}

.nav-links {
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    position: fixed;
    top: 20px;
    left: 400px;
    z-index: 1000;
}

.nav-links {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.title {
    box-sizing: border-box;
    border: 3px solid orange;
    border-radius: 17px;
    width: 200px;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    width: 800px;
    height: 70px;
    border: 7px solid rgb(79, 79, 79);
    background-color: rgb(24, 25, 28);
}

li a:hover {
    color: orange;
}

li a {
    color: white;
    transition: color 0.3s ease;
}

.number{
    box-sizing: border-box;
    border-radius: 17px;
    border: 2px solid white;
    height: 35px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    font-size: 20px;
}

.train-ways{
    display: flex;
    justify-content: center;
    align-items: center;
}
.train-ways{
    position: absolute;
    top: 800px;
    left: 150px;
}
.gym{
    box-sizing: border-box;
    background-color: rgb(107, 107, 107);
    border-radius: 14px;
    border: 2px solid orange;
    width: 400px;
    height: 400px;
    
}


.swim{
    box-sizing: border-box;
    background-color: rgb(112, 112, 112);
    border-radius: 14px;
    border: 2px solid orange;
    width: 400px;
    height: 400px;
    
}

.yoga{
    box-sizing: border-box;
    background-color: rgb(147, 120, 62);
    border-radius: 14px;
    border: 2px solid orange;
    width: 400px;
    height: 400px;
    
    
}

.get-fit{
    box-sizing: border-box;
    border-radius: 14px;
    border: 2px solid orange;
    width: 300px;
    height: 80px;
    font-size: 40px;
    color: rgb(255, 153, 0);
    position: absolute;
    left: 600px;
    bottom: 150px;

}
.get-fit{
    display: flex;
    justify-content: center;
    align-items: center;

}


.gym-text{
    font-size: 17px;

}

.swim-text{
    font-size: 17px;
}


.yoga-text{
    font-size: 17px;
}


.train-ways img{
    box-sizing: border-box;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-top: 5px;
    
}

.about-us img{
    box-sizing: border-box;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    
    
    
}


.first{
    position: absolute;
    left: 400px;
    top: 1500px;
}

.second{
    position: absolute;
    left: 1000px;
    top: 1500px;
}

.third{
    position: absolute;
    left: 400px;
    top: 1800px;
}

.join-now{
    box-sizing: border-box;
    border-radius: 14px;
    border: 2px solid orange;
    background-color: orange;
    width: 200px;
    height: 40px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 650px;
    bottom: 80px;

}
.join-now{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.4s;

}

.join-now:hover{
    background-color: rgb(255, 191, 73);
}

