body{
    size: 100vh;
    overflow: hidden;
}

.img{
    position: absolute;
    right: 150px;
    bottom: 180px;
}

.nav {
    font-size: 10px;
    position: absolute;
    right: 10px;
    display: flex;
    gap: 15px;
    padding-right: 60px;
    cursor: pointer;
    
}

.nav h1 {
    color: rgb(112, 107, 103);
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}

.nav h1:hover {
    background-color: gray;
    color: white;

}


.nav .getstarted {
    background-color: blue;
    color: rgb(255, 255, 255);
}


.text{
    position: absolute;
    left: 9px;
    bottom: 300px;
    padding-left: 60px;

}

.website-design{
    color: rgb(83, 83, 83);
    padding-left: 60px;
    font-size: 45px;
}

.button{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(87, 37, 152);
    border-radius: 20px;
    position: absolute;
    bottom: 200px;
    left: 60px;
    width: 300px;
    height: 60px;
    cursor: pointer;
    transition-duration: 0.2s;
    


}

.button:hover{
    background-color: rgb(16, 93, 160);
}