body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-size: 10px;
    padding-top: 70px;
    overflow: hidden;
}

.email{
    box-sizing: border-boxs;
    border-radius: 8px;
    border: 2px solid rgb(19, 99, 41);
    height: 50px;
    width: 300px;
    padding-left: 15px;
    outline: none;

}

.Continiu{
    color: white;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(3, 158, 114);
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.2s;
}


.Continiu:hover{
    background-color: rgb(68, 186, 147);
}

.sign{
    
    font-size: 17px;

}

.up{
    color: rgb(24, 150, 108);
    text-decoration: none;
}

.ways{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition-duration: 0.3s;
}

img {
    box-sizing: border-box;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.google {
    box-sizing: border-box;
    width: 50px;
    height: 40px;
}

.Microsoft {
    width: 40px;
    height: 40px;
}

.Apple {
    width: 50px;
    height: 40px;
}




.google1{
    box-sizing: border-box;
    border-radius: 7px;
    border: 1px solid rgb(104, 104, 104);
    width: 320px;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 7px;
    padding-right: 95px;
    font-size: 9px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.google1:hover{
    background-color: rgb(181, 195, 207);
}

.Microsoft1{
    box-sizing: border-box;
    border-radius: 7px;
    border: 1px solid rgb(104, 104, 104);
    width: 320px;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 7px;
    padding-right: 35px;
    font-size: 8px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.Microsoft1:hover{
    background-color: rgb(181, 195, 207);
}

.Apple1{
    box-sizing: border-box;
    border-radius: 7px;
    border: 1px solid rgb(104, 104, 104);
    width: 320px;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 6px;
    padding-right: 95px;
    font-size: 9px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.Apple1:hover{
    background-color: rgb(181, 195, 207);
}


.back{
    color: aliceblue;
    box-sizing: border-box;
    background-color: rgb(58, 58, 58);
    border-radius: 15px;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    transition-duration: 0.3s;
}

.back a{
    color: aliceblue;
    text-decoration: none;
}

.back:hover{
    background-color: rgb(40, 40, 40);
}

.help h2:hover{
    animation-name: shadow;
    transition-duration: 1s;
    
}
