*{
    padding: 0px;
    margin: 0px;
}

.all{
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(167, 167, 167);
    width: 611px;
    height: 700px;
    position: absolute;
    left: 450px;
    top: 60px;
    


}

.a1{
    box-sizing: border-box;
    border-radius: 10px;
    background-color: bisque;
    border: 2px solid rgb(0, 0, 0);
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    cursor: pointer;
    
}

.a2{
    box-sizing: border-box;
    border-radius: 10px;
    background-color: bisque;
    border: 2px solid rgb(0, 0, 0);
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    cursor: pointer;
    
}


.a3{
    box-sizing: border-box;
    border-radius: 10px;
    background-color: bisque;
    border: 2px solid rgb(0, 0, 0);
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    cursor: pointer;
    
}

.a4{
    box-sizing: border-box;
    border-radius: 10px;
    background-color: bisque;
    border: 2px solid rgb(0, 0, 0);
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    cursor: pointer;
    
}


.a5{
    box-sizing: border-box;
    border-radius: 10px;
    background-color: bisque;
    border: 2px solid rgb(0, 0, 0);
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    cursor: pointer;
    
}



.a6{
    box-sizing: border-box;
    border-radius: 10px;
    background-color: bisque;
    border: 2px solid rgb(0, 0, 0);
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    cursor: pointer;
}



.a7{
    box-sizing: border-box;
    border-radius: 10px;
    background-color: bisque;
    border: 2px solid rgb(0, 0, 0);
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    cursor: pointer;
}



.a8{
    box-sizing: border-box;
    border-radius: 10px;
    background-color: bisque;
    border: 2px solid rgb(0, 0, 0);
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    cursor: pointer;
    
}



.a9{
    box-sizing: border-box;
    border-radius: 10px;
    background-color: bisque;
    border: 2px solid rgb(0, 0, 0);
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    cursor: pointer;
    
}

.input{
    box-sizing: border-box;
    border-radius: 8px;
    border: 4px solid black;
    background-color: rgb(255, 255, 255);
    height: 100px;
    color: rgb(0, 0, 0);
}
